{% extends 'Core/core.html' %}
{% load static %}

{% block title %}New Flip{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'Flips/new-flip.css' %}">
    <link rel="stylesheet" href="{% static 'Flips/coin.css' %}">
    <script src="{% static 'Flips/new-flips.js' %}" defer></script>
    <script src="{% static 'Flips/coin.js' %}" defer></script>
{% endblock head %}

{% block content %}
    <div class="content">
        <div class="coin-box">
            <div class="coin">
                <div class="coin-face coin-face-a">
                    <div class="label">
                        <p>Heads</p>
                    </div>
                </div>
                <div class="coin-face coin-face-b">
                    <div class="label">
                        <p>Tails</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="options">
            <div class="choices">
                <form method="post">
                    {% csrf_token %}
                    <div class="names">
                        <input name="option-a" type="text" placeholder="Heads" id="option-a" value="" maxlength="128" required>
                        <input name="option-b" type="text" placeholder="Tails" id="option-b" value="" maxlength="128" required>
                    </div>

                    <div class="weighting">
                        <label class="weighting-label" for="weighting" id="option-a-weighting"><span>Option A: 50%</span></label>
                        <input type="range" min="1" max="99" value="50" id="weighting" name="weighting">
                        <label class="weighting-label" for="weighting" id="option-b-weighting"><span>Option B: 50%</span></label>
                    </div>

                    <div class="privacy">
                        <p id="privacy-label">Private</p>
                        <label class="switch">
                          <input type="checkbox" id="privacy" name="private">
                          <span class="slider round"></span>
                        </label>
                    </div>

                    <div class="create-flip">
                        <button id="create-flip" type="submit"><p>Create Flip</p></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}