{% extends 'Core/core.html' %}
{% load static %}

{% block title %}New Flip{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'Flips/new-flip.css' %}">
    <script src="{% static 'Flips/new-flips.js' %}" defer></script>
{% endblock head %}

{% block content %}
    <div class="content">
        <div class="coin">
            coin
        </div>
        <div class="options">
            <div class="choices">
                <div class="names">
                    <input type="text" placeholder="Heads" id="option-a" value="">
                    <input type="text" placeholder="Tails" id="option-b" value="">
                </div>

                <div class="weighting">
                    <label class="weighting-label" for="weighting" id="option-a-weighting"><span>Option A: 50%</span></label>
                    <input type="range" min="1" max="99" value="50" id="weighting">
                    <label class="weighting-label" for="weighting" id="option-b-weighting"><span>Option B: 50%</span></label>
                </div>

                <div class="privacy">
                    <p id="privacy-label">Private</p>
                    <label class="switch">
                      <input type="checkbox" id="privacy">
                      <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}