.content {
    margin-top: 2vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.coin {
    background-color: #fdfdfd;
    margin: 0 auto;
    height: 40vh;
    width: 50vw;
}

.options {
    margin: 0 auto;
    height: 40vh;
    width: 50vw;
}

.weighting, .names {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.names input[type="text"] {
    border-radius: 5px;
    height: 1rem;
    border: 1px solid lightblue;
    padding: 0.25rem;
}

.weighting {
    gap: 12vw;
}

.names {
    gap: 2vw;
}

.weighting > input[type="range"] {
    position: fixed;
    width: 8vw;
}

.weighting-label {
    display: block;
}

.weighting-label > p {
    display: inline;
    width: 5vw;
}

.privacy {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.privacy > p {
    position: relative;
    top: -1rem;
    right: 1vw;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2vw;
  height: 2vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4vh;
  width: 1.4vh;
  left: .2vh;
    bottom: .3vh;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2vh);
  -ms-transform: translateX(2vh);
  transform: translateX(2vh);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}